/* PasswordSave.css */

.form-container {
  background-color: #2c2c2c;
  padding: 2rem;
  border-radius: 10px;
}

.password-add-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  border: 1px solid #444;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-container label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  pointer-events: none;
  transition: all 0.3s ease;
  padding: 0 5px;
  background-color: transparent;
}

.input-container input:focus,
.input-container input:not(:placeholder-shown) {
  border-color: #6c63ff;
  outline: none;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
  top: 0;
  font-size: 14px;
  color: #6c63ff;
  background-color: #2c2c2c;
  transform: translateY(-50%);
}

.show-password-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #6c63ff;
  cursor: pointer;
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.add-button {
  background-color: transparent;
  color: #6c63ff;
  border: 2px solid #6c63ff;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #6c63ff;
}

.add-button:hover {
  background-color: #6c63ff;
  color: #fff;
}