/* PasswordDisplay.css */
body {
    background-color: #1e1e1e;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-heading {
    text-align: center;
    padding: 1rem 2rem;
    background-color: #2c2c2c;
    margin: 0;
    font-size: 2rem;
  }
  
  .content-container {
    display: flex;
    flex: 1;
  }
  
  .display-container {
    flex: 1;
    padding: 2rem;
    background-color: #2c2c2c;
    border-left: 1px solid #444;
    overflow-y: auto;
    max-height: 81.555555vh;
  }
  
  .display-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .display-container::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 10px;
  }
  
  .display-container::-webkit-scrollbar-thumb {
    background-color: #6c63ff;
    border-radius: 10px;
    border: 3px solid #2c2c2c;
  }
  
  .display-container::-webkit-scrollbar-thumb:hover {
    background-color: #8e82ff;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .password-list {
    list-style-type: none;
    padding: 0;
  }
  
  .password-item {
    background-color: #3a3a3a;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .password-item strong {
    font-size: 20px;
    color: #6c63ff;
    display: block;
    margin-bottom: 5px;
  }
  
  .password-item p {
    margin: 10px 0;
    font-size: 16px;
    display: inline;
  }
  
  .password-item h4 {
    margin: 10px 0;
    font-size: 16px;
    display: inline;
  }
  
  .password-item div {
    margin: 10px 0;
  }
  
  .button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    width: 100px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .button:hover .svgIcon {
    width: 30px;
    transition-duration: .3s;
    transform: translateY(60%);
    margin-top: 10px;
  }
  
  .button::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
  }
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }
  
  .button:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
  }
  
  .button:active .svgIcon {
    transform: translateY(50%);
    transition-duration: 1s;
  }
  
  .popup-content {
    background-color: #2c2c2c;
    font-size: 18px;
    padding: 20px;
  }
  
  .confirm-remove-button {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s ease;
  }
  
  .unconfirm-remove-button {
    background-color: rgb(29, 232, 29);
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.3s ease;
  }
  
  .confirm-remove-button:hover {
    background-color: #ff1f1f;
  }
  
  .unconfirm-remove-button:hover {
    background-color: rgb(17, 155, 17);
  }
  
  .popup-text {
    text-align: center;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
  }
  